{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="card mt-5">
        <div class="card-header">
            <small>#{{ restaurant.id }} | {{ restaurant.city.name }}</small>
        </div>
        <div class="card-body">
            <h2 class="mt-3">{{ restaurant.name }}</h2>
            <div class="card-body">
                <p>{{ restaurant.description }}</p>
                <img src="https://picsum.photos/300"><br>
                <small>Tags: {{ restaurant.id }}</small>
                <hr>
                <small>Created at: {{ restaurant.createdAt|date('d-m-Y H:i:s') }}</small>
            </div>
        </div>
    </div>
    <div class="card mt-5 w-100">
        <div class="card-body w-100">
            <h2 class="mt-3"><i class="fas fa-utensils"></i>New review</h2>
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-success">Submit</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
